Repository matteospanio/spam-analyzer, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, docs, config, workflow, source

readd travis support
  .coveralls.yml
  .travis.yml
Labels: repo

change travis python version
  .travis.yml
Labels: repo

Add .circleci/config.yml
  .circleci/config.yml
Labels: none

add circleci config
  .circleci/config.yml
  .coveralls.yml
Labels: repo

add coveralls reporting in circleci workflow
  .circleci/config.yml
Labels: none

add badges
  README.md
Labels: repo

update requirements
  requirements.txt
Labels: repo

remove travisci support
  .travis.yml
Labels: repo

update version for release
  spamanalyzer/__init__.py
Labels: source

make multiple analysis faster
  spamanalyzer/__init__.py
  spamanalyzer/analyzer/data_structures.py
  spamanalyzer/display.py
Labels: source

add multiple mail classification test
  tests/test_analyzer_data_structures.py
Labels: test

update release workflow
  .github/workflows/python-publish.yml
Labels: none

update make test
  Makefile
  pyproject.toml
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

test:
- tests/*

docs:
- docs/*

config:
- conf/*

workflow:
- .github/*

source:
- any: ['spamanalyzer/**/*', 'spamanalyzer/*']
